<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <title>Report</title>
  </head>
  <body>
    <nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a id="ek" class="navbar-brand" href="/">Equilibrio</a>
  <ul class="nav nav-pills">
  </ul>
  </nav>
  <br>
  <center><h1><strong>Report</strong></h1></center>
  <br>
  <p id="un">We have succesfully formulated your report to the highest degree of accuracy and precision. This report can be used to help you understand where you rank in terms of your anxiety levels and where to go next in case of an emergency.</p>
  <ul id="lis" class="list-group list-group-flush">
  <li class="list-group-item">First Name:        {{Fname}}</li>
  <li class="list-group-item">Last Name:        {{Lname}}</li>
  <li class="list-group-item">Age:        {{Age}}</li>
  <li class="list-group-item">Gender:        {{Gender}}</li>
  <li class="list-group-item">Result:        {{Result}}</li>
</ul>
<br>
<center><p id="un2">**Note: This report should not be used solely to determine any decision and we advise you to speak to a proffesional carer first.</p></center>
<br>
<br>
  <p id="un1"><strong><u>EXTENDED HELP</u></strong><br>We have listed national helplines where help can be sought from.<br> If your country does not have a national helpline<br>
   please seek professional and community support from trained and experienced carers.</p>
<br>
<br>
<center><h5><strong>UNITED KINGDOM</strong></h5>
  <center><h6 id="uk">
    <p>Mind Infoline on 0300 123 3393 (Monday to Friday, 9am to 6pm)
    For advice and support on a wide range of mental health problems.</p>
    <p>Samaritans free at any time, on 116 123
    For people experiencing suicidal thoughts</p>
  </h6></center>
  <br>
  <br>
  <center><h5><strong>INDIA</strong></h5>
    <center><h6 id="uk">
      <p>Fortis Exam Helpline +918376804102
      The Fortis National Helpline number is for students or parents with queries related to stress, mental wellbeing and exam tips. Open 24 hours. </p>
      <p>iCALL 022-25521111 / icall@tiss.edu
      iCall is a service from TISS, run by trained mental health professionals. iCALL provides emotional support, information and referral services to individuals in psycho-social distress, for all ages, genders and sexual identities. Open Monday-Saturday 8am-10pm</p>
      <p>PARIVARTHAN Counselling, Training and Research Centre +91 7676602602
Providing multimodal services in the field of mental health, this helpline is serviced by trained, professional counsellors. Open Monday-Friday 4pm-10pm.</p>
      <p>Sumaitri 011-23389090 / feelingsuicidal@sumaitri.net
      A crisis intervention centre for the depressed, distressed and suicidal. The helpline provides unconditional and unbiased emotional support to callers, visitors or those who write in. Open Monday-Friday 2pm-10pm, Saturday-Sunday 10am-10pm.</p>
      <p>AASRA 91-9820466726 / aasrahelpline@yahoo.com
Working in the area of mental health and providing emotional support, AASRA offers a helpline service and walk-in centre. The helpline is answered by professionally trained volunteers who provide non-judgmental and non-critical listening. Open 24 hours.</p>
      <p>Sneha 044-24640050 (24 hours) / 044-24640060 (8am-10pm) / help@snehaindia.org
A suicide prevention organisation that offers emotional support for the depressed, desperate and suicidal.</p>
      <p>Lifeline +913340447437 / +91 908803030 / contact@lifelinefoundation.in
Lifeline offers a free helpline providing emotional support to people who are in despair, depressed or suicidal. Face to face befriending with prior appointment is also available.</p>
      <p>COOJ Mental Health Foundation 0832-2252525 / youmatterbycooj@gmail.com
This helpline offers emotional support individuals dealing with suicidal thoughts, as well as those experiencing other levels of distress. It is run by volunteers trained in Mindfulness Based Active Listening. Open Monday-Saturday 3am-7pm. </p>
      <p> Vandrevala Foundation 1860-266-2345 / help@vandrevalafoundation.com
Run by trained counsellors and open 24 hours. </p>
      <p>Roshni +9140 - 6620 2000 / 6620 2001 / +914066202000 / roshnihelp@gmail.com
Run by trained volunteers and their special services include depression, distress and suicide. Open Monday-Saturday 11am-9pm. </p>
      <p>Connecting...NGO 9922004305 / 9922001122 / distressmailsconnecting@gmail.com
Lines open everyday 12pm-8pm. </p>
      <p>Samaritans Mumbai +91 84229 84528 / +91 84229 84529 / +84229 84530 / talk2samaritans@gmail.com
Run by trained volunteers and their special services include depression, suicide and stress. They are available on email, phone and in-person free services. Open everyday 5pm-8pm. </p>
    </h6></center>
    <br>
    <center><h5><strong>NEW ZEALAND</strong></h5>
      <center><h6 id="uk">
        <p>Need to talk? Free call or text 1737 any time for support from a trained counsellor</p>
        <p>Lifeline 0800 543 354 (0800 LIFELINE) or free text 4357 (HELP)</p>
        <p>Suicide Crisis Helpline 0508 828 865 (0508 TAUTOKO)</p>
        <p>Healthline 0800 611 116</p>
        <p>Samaritans 0800 726 666</p>
        <p>Depression Helpline 0800 111 757 or free text 4202
To talk to a trained counsellor about how you are feeling or to ask any questions.</p>
        <p>www.depression.org.nz
Includes The Journal online help service.</p>
        <p>SPARX.org.nz
Online e-therapy tool provided by the University of Auckland that helps young people learn skills to deal with feeling down, depressed or stressed.</p>
        <p>OUTLine NZ 0800 688 5463 (OUTLINE) provides confidential telephone support</p>
        <p>Youthline 0800 376 633, free text 234 / talk@youthline.co.nz / online chat</p>
        <p>thelowdown.co.nz team@thelowdown.co.nz / free text 5626 / free 24hr helpline 0800 111 757 </p>
        <p>What's Up – 0800 942 8787 (for 5–18 year olds). Phone counselling is available Monday-Friday, 12pm–11pm and weekends, 3pm–11pm. Online chat is available Monday-Friday 1pm-10pm and Saturday and Sunday 3pm-10pm.</p>
        <p>Kidsline – 0800 54 37 54 (0800 kidsline)
For young people up to 18 years of age. Open Monday-Friday 4pm-9pm.</p>
        <p>Commonground
A website hub providing parents, family, whānau and friends with access to information, tools and support to help a young person who is struggling.</p>
        <p>EDANZ Freephone 0800 2 EDANZ or in Auckland 09 522 2679 / info@ed.org.nz.
          Improving outcomes for people with eating disorders and their families.</p>
        <p>Parent Help 0800 568 856
For parents/ whānau seeking support, advice and practical strategies on all parenting concerns. Anonymous, non-judgemental and confidential.</p>
        <p>Family Services 211 Helpline 0800 211 211
For help finding (and direct transfer to) community based health and social support services in your area.</p>
        <p>Skylight 0800 299 100
For support through trauma, loss and grief. Open Monday-Friday 9am–5pm.</p>
        <p>Supporting Families In Mental Illness Auckland 0800 732 825. Find other regions' contact details here.
For families and whānau supporting a loved one who has a mental illness. </p>
        <p>Alcohol and Drug Helpline 0800 787 797 / online chat</p>
        <p>Are You OK  0800 456 450
Family violence helpline.</p>
        <p>Gambling Helpline 0800 654 655</p>
        <p>Anxiety phone line 0800 269 4389 (0800 ANXIETY)</p>
        <p>Seniorline 0800 725 463
A free information service for older people</p>
        <p>0508MUSICHELP 0508 MUSICHELP
The Wellbeing Service is a 24/7 online, on the phone and in-person counselling service fully funded by the NZ Music Foundation and provided free of charge to those in the Kiwi music community who can't access the help they need due to hardship and other circumstances. </p>
        <p>Shine 0508 744 633
Confidential domestic abuse helpline.</p>
        <p>Quit Line 0800 778 778
Smoking cessation help.</p>
        <p>Women's Refuge Crisisline 0800 733 843 (0800 REFUGE
For women living with violence, or in fear, in their relationship or family.</p>
        <p>Shakti Crisis Line 0800 742 584
For migrant or refugee women living with family violence.</p>
        <p>Rape Crisis 0800 883 300
For support after rape or sexual assault.</p>
        <p>Wellington 0800 200 207
Open Tuesday-Sunday from 7pm-1am.</p>
        <p>Auckland Central 0508 927 654 / 0508
Open everyday 8pm-12am.</p>
      </h6></center>
      <br>
      <center><h5><strong>SOUTH AFRICA</strong></h5>
        <center><h6 id="uk">
          <p>Suicide Crisis Helpline 0800 567 567</p>
          <p>24hr Substance Abuse Helpline 0800 12 13 14</p>
          <p>Mental Health Helplines 0800 456 789 / 0800 21 22 23</p>
        </h6></center>
        <br>
        <center><h5><strong>NIGERIA</strong></h5>
          <center><h6 id="uk">
            <p>Lifeline 13 11 14</p>
            <p>Beyond Blue 1300 22 4636</p>
            <p>Suicide callback service 1300 659 467</p>
            <p>The MindSpot Clinic 1800 61 44 34</p>
            <p>Kids Helpline 1800 55 1800
            Free, private and confidential 24/7 phone and online counselling service for young people aged 5 to 25</p>
          </h6></center>
        <br>
        <center><h5><strong>AUSTRALIA</strong></h5>
          <center><h6 id="uk">
            <p>Mentally Aware Nigeria Initiative (MANI) 0809111MANI(6264)</p>
          </h6></center>
        <br>
        <center><h5><strong>SINGAPORE</strong></h5>
          <center><h6 id="uk">
            <p><a id="anchor" href="https://www.healthhub.sg/a-z/support-groups-and-others/20/call-on-these-when-you-need-help">https://www.healthhub.sg/a-z/support-groups-and-others/20/call-on-these-when-you-need-help</a></p>
            <p><a id="anchor" href="https://www.ncss.gov.sg/NCSS/media/NCSS-Documents-and-Forms/NCSS%20Internal%20Documents/Directory-on-Mental-Health-Services.pdf">https://www.ncss.gov.sg/NCSS/media/NCSS-Documents-and-Forms/NCSS%20Internal%20Documents/Directory-on-Mental-Health-Services.pdf</a></p>
          </h6></center>
          <br>
          <center><h5><strong>MALAYSIA</strong></h5>
            <center><h6 id="uk">
              <p><a id="anchor" href=" https://www.befrienders.org.my/"> https://www.befrienders.org.my/</a></p>
              <p><a id="anchor" href="https://www.aia.com.my/en/what-matters/seetheotherside/mental-health-helpline-resources.html">https://www.aia.com.my/en/what-matters/seetheotherside/mental-health-helpline-resources.html</a></p>
            </h6></center>
          <br>
          <center><h5><strong>PHILIPPINES</strong></h5>
            <center><h6 id="uk">
              <p>#ThereisHelp at National Centre for Mental Health Crisis hotline 1553 (+63) 917-899-8727 / (02) 7-989-8727</p>
          </h6></center>
          <br>
          <center><h5><strong>JAPAN</strong></h5>
            <center><h6 id="uk">
              <p>Tell Lifeline on 03-5774-0992 <br> Websites:<a id="anchor" href=" https://telljp.com/lifeline"> https://telljp.com/lifeline</a><br>
              <a id="anchor" href=" / https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/hukushi_kaigo/seikatsuhogo/jisatsu/soudan_tel.html"> / https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/hukushi_kaigo/seikatsuhogo/jisatsu/soudan_tel.html</a></p>
          </h6></center>
          <br>
          <center><h5><strong>INDONESIA</strong></h5>
            <center><h6 id="uk">
              <p>Alliance of psychologists hotline service SEJIWA 119 text 8</p>
          </h6></center>
          <br>
          <center><h5><strong>IRELAND</strong></h5>
            <center><h6 id="uk">
              <p>Connect counselling Helpline: 1800 477 477<br>Website:<a id="anchor" href="https://connectcounselling.ie/">https://connectcounselling.ie/</a></p>
              <p>Samaritans: FreePhone 116123 </p>
          </h6></center>
          <br>
          <center><h5><strong>UNITED STATES</strong></h5>
            <center><h6 id="uk">
              <p>National Alliance on Mental Illness (NAMI) hotline 1-800-950-NAMI (6264) or <a id="anchor" href="info@nami.org">info@nami.org</a></p>
              <p>Crisis Text Line – Text NAMI to 741-741
Connect with a trained crisis counsellor to receive free, 24/7 crisis support via text message.</p>
              <p>National Suicide Prevention Lifeline – Call 800-273-TALK (8255)
If you or someone you know is in crisis—whether they are considering suicide or not—please call the toll-free Lifeline at 800-273-TALK (8255) to speak with a trained crisis counsellor 24/7.</p>
          </h6></center>
          <br>
          <br>
          <br>
          <footer id="b6">
          <br>
          <br>
          <p><strong>Establishment</strong></p>
          <p>Reva University - Rukmini Knowledge Park, Kattigenahalli, Yelahanka, Bengaluru, Karnataka 560064</p>
          <br>
          <p><strong>Creators</strong></p>
          <div class="np"><p>Namitha Manoj Pillai</p>
          <p>+91 9845744299</p>
          <p><p><a id="mail2" href="mailto:namithapillai25@gmail.com"><u>namithapillai25@gmail.com</u></a></p></p></div>
          <div class="ss"><p>Shraddha Sadugol</p>
          <p>+91 7619606045</p>
          <p><p><a id="mail2" href="mailto:shraddhasadugol65@gmail.com"><u>shraddhasadugol65@gmail.com</u></a></p></p></div>
          <div class="sm"><p>Smrithi Murali Menon</p>
          <p>+91 9986426356</p>
          <p><p><a id="mail2" href="mailto:smrithimurali1504@gmail.com"><u>smrithimurali1504@gmail.com</u></a></p></p></div>
          <br>
          <br>
          </footer>
  </body>
</html>
